<div class="container">
  <% @categories.each do |c| %>
    <h1><%= c.name %></h1>
    <%= link_to category_path(c), method: :delete do %>
      <button>Delete</button>
    <% end %>
  <% end  %>
</div>
